{% set hps_parents = getHierarchiesPatrimoines() %}
{% set interlocuteurs = getInterlocuteurs() %}
{% if (hps_parents|length > 0) or (interlocuteurs|length > 0) %}
  <div id="hierarchies_selects">
    <div id="hps_selects">
      {% include '@ImanagingCoreApplication/HierarchiePatrimoine/partials/select-hps.html.twig' with {'hps' : hps_parents} %}
    </div>

    <div id="interlocuteurs_selects">
      {% include '@ImanagingCoreApplication/HierarchiePatrimoine/partials/select-interlocuteurs.html.twig' with {'interlocuteurs' : interlocuteurs} %}
    </div>
  </div>
{% endif %}
<style>
    #hierarchies_selects{
        border: 1px solid lightgrey;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
        border-radius: 5px;
    }
</style>

<script>
  $(document).ready(function() {
    $(".select_hp").trigger('change');
  })
  $(document).on('change', '.select_hp', function() {
    var val = $(this).val();
    var postData = {'hp_id' : val};
    var enfantsDiv = $(this).parent().find(".hps_enfants");
    enfantsDiv.html('<i class="fa fa-spin fa-spinner text-info"></i>');
    $.ajax({
      url: "{{ path('core_application_hierarchie_patrimoine_get_select_hierarchies_patrimoines') }}",
      type: 'POST',
      data: postData,
      success: function(data){
        enfantsDiv.html(data);
      },
      error: function (data) {
        showSweetAlert('top-end', 'error', data.responseJSON.message_error, true, 5000);
      }
    });
  })
</script>