<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="core_application_user" path="/user">
        <default key="_controller">imanaging_core_application.user_controller::indexAction</default>
    </route>

    <route id="core_application_user_synchroniser" path="/user/synchroniser">
        <default key="_controller">imanaging_core_application.user_controller::synchroniserAction</default>
    </route>

    <route id="core_application_alerte_mail" path="/alerte-mail">
        <default key="_controller">imanaging_core_application.alerte_mail_controller::indexAction</default>
    </route>

    <route id="core_application_alerte_mail_add_destinataire" path="/alerte-mail/destinataire/add">
        <default key="_controller">imanaging_core_application.alerte_mail_controller::addDestinataireAction</default>
    </route>

    <route id="core_application_alerte_mail_edit_destinataire" path="/alerte-mail/destinataire/edit">
        <default key="_controller">imanaging_core_application.alerte_mail_controller::editDestinataireAction</default>
    </route>

    <route id="core_application_alerte_mail_save_destinataire" path="/alerte-mail/destinataire/{id}/save">
        <default key="_controller">imanaging_core_application.alerte_mail_controller::saveDestinataireAction</default>
    </route>

    <route id="core_application_alerte_mail_save_destinataire_alerte_mail" path="/alerte-mail/destinataire-alerte-mail/save">
        <default key="_controller">imanaging_core_application.alerte_mail_controller::saveDestinataireAlerteMailAction</default>
    </route>

    <route id="core_application_role" path="/role">
        <default key="_controller">imanaging_core_application.role_controller::indexAction</default>
    </route>

    <route id="core_application_role_add" path="/role/add">
        <default key="_controller">imanaging_core_application.role_controller::addRoleAction</default>
    </route>

    <route id="core_application_role_remove" path="/role/{id}/remove">
        <default key="_controller">imanaging_core_application.role_controller::removeRoleAction</default>
    </route>

    <route id="core_application_role_edit" path="/role/{id}/edit">
        <default key="_controller">imanaging_core_application.role_controller::editRoleAction</default>
    </route>

    <route id="core_application_role_save" path="/role/{id}/save">
        <default key="_controller">imanaging_core_application.role_controller::saveRoleAction</default>
    </route>

    <route id="core_application_role_save_libelle" path="/role/{id}/save-libelle">
        <default key="_controller">imanaging_core_application.role_controller::saveLibelleRoleAction</default>
    </route>

    <route id="core_application_role_edit_role_module" path="/role-module/edit">
        <default key="_controller">imanaging_core_application.role_controller::editRoleModuleAction</default>
    </route>

    <route id="core_application_role_save_role_module" path="/role-module/{id}/save">
        <default key="_controller">imanaging_core_application.role_controller::saveRoleModuleAction</default>
    </route>

    <route id="core_application_menu_get_first_sous_module_redirect" path="/menu/module/{id}/get-first-sous-module-redirect" >
        <default key="_controller">imanaging_core_application.menu_controller::getFirstSousModuleRedirectAction</default>
    </route>

    <route id="core_application_applications_show_list" path="/applications/show-list" >
        <default key="_controller">imanaging_core_application.applications_controller::showApplicationsListAction</default>
    </route>

    <route id="core_application_hierarchie_patrimoine" path="/hierarchie-patrimoine" >
        <default key="_controller">imanaging_core_application.hierarchie_patrimoine_controller::indexAction</default>
    </route>

    <route id="core_application_hierarchie_patrimoine_show_list_hierarchie_patrimoine" path="/hierarchie-patrimoine/show-list" >
        <default key="_controller">imanaging_core_application.hierarchie_patrimoine_controller::showHierarchiePatrimoineListAction</default>
    </route>

    <route id="core_application_hierarchie_patrimoine_get_select_hierarchies_patrimoines" path="/hierarchie-patrimoine/get-hps-select" >
        <default key="_controller">imanaging_core_application.hierarchie_patrimoine_controller::getSelectHpsAction</default>
    </route>

    <route id="core_application_interlocuteurs" path="/interlocuteurs" >
        <default key="_controller">imanaging_core_application.interlocuteurs_controller::indexAction</default>
    </route>

    <route id="core_application_interlocuteurs_show_list" path="/interlocuteurs/show-list" >
        <default key="_controller">imanaging_core_application.interlocuteurs_controller::showInterlocuteursListAction</default>
    </route>
</routes>