<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="core_application_user" path="/user" controller="imanaging_core_application.user_controller:indexAction">
    </route>

    <route id="core_application_user_synchroniser" path="/user/synchroniser" controller="imanaging_core_application.user_controller:synchroniserAction">
    </route>

    <route id="core_application_role" path="/role" controller="imanaging_core_application.role_controller:indexAction">
    </route>

    <route id="core_application_role_add" path="/role/add" controller="imanaging_core_application.role_controller:addRoleAction">
    </route>

    <route id="core_application_role_remove" path="/role/{id}/remove" controller="imanaging_core_application.role_controller:removeRoleAction">
    </route>

</routes>