{# Affichage des applications disponible pour cet utilisateur #}
{% set applications = getApplications(app.user) %}
{% if applications|length > 0 %}
  <li class="nav-item dropdown">
    <a href="#" class="nav-link main-menu-nav-link dropdown-toggle" data-toggle="dropdown">
      Applications
    </a>
    <ul class="dropdown-menu">
      {% for application in applications %}
        <li>
          <div data-sso-method="{{application.urlSso}}" class="dropdown-item changeApplication" style="cursor:pointer;">
            {{ application.nom }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </li>
{% endif %}

<script>
  $('.changeApplication').click(function() {
    var urlSso = $(this).data('sso-method');
    $.ajax({
      url: "{{ path('zeus_user_get_data_for_redirect') }}",
      type: "GET",
      success: function (data) {
        window.location.replace(urlSso +"?login="+data.login+"&token="+data.token);
      },
      error: function (data) {
        alert(data.responseJSON.error_message);
      }
    })

  })
</script>