<table class="table table-bordered table-striped text-center">
  <thead>
  <tr>
    <th>Type</th>
    <th>Interlocuteur</th>
    <th>Utilisateurs liés</th>
    <th>Nb contrats concernés</th>
  </tr>
  </thead>
  <tbody>
  {% for interlocuteur in interlocuteurs %}
    <tr>
      <td>{{ type }}</td>
      <td>{{ interlocuteur.libelle }}</td>
      <td>
        {% for interlocuteur_user in interlocuteur.users %}
        <span class="badge badge-info">{{ interlocuteur_user }}</span>
        {% endfor %}
      </td>
      <td>{{ interlocuteur.nb }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
