<div class="modal fade" id="modalEditRoleModule" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier le module</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{ path('core_application_role_save_role_module', {id: role_module.id}) }}" method="post">
          <div class="form-group">
            <label for="libelle">Nom du module</label>
            <input type="text" class="form-control" value="{{ role_module.libelle }}" id="libelle" name="libelle">
          </div>

          <div class="form-group">
            <label for="ordre">Ordre module</label>
            <input type="text" class="form-control" value="{{ role_module.ordre }}" id="ordre" name="ordre">
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>